<html>
  <%= render('_head.html.erb') %>
  <body class="text-center">
    <div><img src="https://haidamac.com.ua/wp-content/uploads/2022/11/ice_age_t.png"></div>
    <br>
    <div class="display-4">Are you leaving already? I'm so sorry! See you soon</div>
    <br>
    <div><img src="https://haidamac.com.ua/wp-content/uploads/2022/11/scrat_space.jpg"></div>
  </body>
</html>